<div class="c-pageHeader-gallery"><img alt="" src="/img/special/camp-report2026/players01.jpg" /></div>
<div class="c-pageHeader">
  <h2 class="c-pageHeader__title"><img alt="TIRE Wheel PREMIUM Presents 猛虎キャンプ TIGERS CAMP REPORT 2026" src="/img/special/camp-report2026/title01.png" /></h2>
  <div class="c-pageHeader__lead">
    <p class="c-pageHeader__information">2月1日より全日程生中継！</p>

    <p class="c-pageHeader__text">阪神タイガース春季キャンプを<br>沖縄・宜野座＆具志川からお届け！</p>

    <a href="/howto/" class="m-button-type1" onclick="ga('send', 'event', 'click', 'camp-report2026_guide_<%= device %>');"><span class="m-button-type1__text">視聴方法はこちら</span></a>

  </div>
</div>
<div class="c-pageHeader-bottom">
  <div class="c-pageHeader-bottom__image"><img alt="" src="/img/special/camp-report2026/players02.jpg" /></div>
  <p class="c-pageHeader__credit">©阪神タイガース</p>
  <ul class="c-pageNavigation">
    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-01">
        <div class="c-pageNavigation__icon"><img alt="放送スケジュール" src="/img/special/camp-report2026/icon01-1.png"></div>
        <p class="c-pageNavigation__text">放送予定</p>
      </a>
    </li>

    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-02">
        <div class="c-pageNavigation__icon"><img alt="解説・実況" src="/img/special/camp-report2026/icon02-1.png"></div>
        <p class="c-pageNavigation__text">解説・実況</p>
      </a>
    </li>

    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-03">
        <div class="c-pageNavigation__icon"><img alt="オリジナルコンテンツ" src="/img/special/camp-report2026/icon04-1.png"></div>
        <p class="c-pageNavigation__text">宜野座＆具志川<br>イベントブース</p>
      </a>
    </li>

    <li class="c-pageNavigation__item">
      <a class="c-pageNavigation__link" href="#js-scroll-04">
        <div class="c-pageNavigation__icon"><img alt="プレゼント" src="/img/special/camp-report2026/icon03-1.png"></div>
        <p class="c-pageNavigation__text">視聴者プレゼント</p>
      </a>
    </li>
  </ul>
</div>