---
layout: layouts/base_sp.ejs
title: 猛虎キャンプリポート2025春｜特集｜スカイＡ｜CS放送のスポーツチャンネル
stylesheet: /css/sp/special/camp-report2026.css
script: /js/special/campReport2025.js
---

<div class="l-camp-report2020">
<section class="l-pageHeader">
<%- include('../_includes/contents/module-mv', {device: "sp"}) %>
</section>

<div class="c-pageMain__lead">
<p>
トレーニングの様子を中心に、<br>紅白戦、練習試合はもちろん<br>
ここでしか聞くことができない選手やコーチへのインタビューもたっぷり！！
豪華解説陣も勢ぞろい！<br>
</p>
</div><!-- /.c-pageMain__lead -->

<div class="c-pageMain__schedule" id="js-scroll-01">
<h3 class="c-common-headline c-common-headline--schedule">放送スケジュール</h3>
<div class="c-pageMain__schedule__wrap">
<div class="schedule" id="month--02">
<div class="date-banner">
<div id="year">2025年</div>

<div id="select-month">2</div>
月の日程
</div><!-- /.date-banner -->

<div class="esb-displayer">&nbsp;</div>

<div class="update-date">2025/1/30更新</div>

<table class="schedule-m schedule-m02">
<tbody>
<tr>
<td>
<span class="date">1</span>
<span class="week sat">土</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第1クール</span><br>
<span>キャンプイン</span><br>
<span class="live">[生]</span>9:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>18:00～24:30<br>
<span class="guest">[解説] 糸井<br />[実況] 北條／寺田</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">2</span>
<span class="week sun">日</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第1クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 真弓<br />[実況] 寺田／北條</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">3</span>
<span class="week">月</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第1クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br />
<span class="guest">[解説] 真弓<br />[実況] 寺田／北條</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">4</span>
<span class="week">火</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第1クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 真弓<br />[実況] 北條／寺田</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">5</span>
<span class="week">水</span>
<span class="content">キャンプ</span>
<div>
<span>休日</span><br>
<span>（放送なし）</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">6</span>
<span class="week">木</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第2クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 掛布<br />[実況] 高野／寺田</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">7</span>
<span class="week">金</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第2クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 掛布<br />[実況] 寺田／高野</span>
</div>
</td>
</tr>
<tr>
<td class="live-match">
<span class="date">8</span>
<span class="week sat">土</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第2クール</span><br>
<span class="team">紅白戦</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 矢野<br />[実況] 高野／寺田</span>
</div>
</td>
</tr>
<tr>
<td class="live-match">
<span class="date">9</span>
<span class="week sun">日</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第2クール</span><br>
<span class="team">紅白戦</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～23:00<br>
<span class="guest">[解説] 矢野<br />[実況] 平野／山下</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">10</span>
<span class="week">月</span>
<span class="content">キャンプ</span>
<div>
<span>休日</span><br>
<span>（放送なし）</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">11</span>
<span class="week sun">火</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第3クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 福留<br />[実況] 山下／平野</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">12</span>
<span class="week">水</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第3クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 福留<br />[実況] 平野／山下</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">13</span>
<span class="week">木</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第3クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 掛布／岡田<br />[実況] 佐藤／伊藤</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">14</span>
<span class="week">金</span>
<span class="content">キャンプ</span>
<div>
<span>休日</span><br>
<span>（放送なし）</span>
</div>
</td>
</tr>
<tr>
<td class="live-match">
<span class="date">15</span>
<span class="week sat">土</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第4クール</span><br>
<span class="team">練習試合<br>阪神-楽天（宜野座）</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～23:00<br>
<span class="guest">[解説] 緒方<br />[実況] 伊藤／佐藤</span>
</div>
</td>
</tr>
<tr>
<td class="live-match">
<span class="date">16</span>
<span class="week sun">日</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第4クール</span><br>
<span class="team">練習試合<br>阪神-広島（宜野座）</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～23:00<br>
<span class="guest">[解説] 緒方<br />[実況] 佐藤／高野</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">17</span>
<span class="week">月</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第4クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 能見<br />[実況] 高野／福井</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">18</span>
<span class="week">火</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第4クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 能見<br />[実況] 福井／高野</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">19</span>
<span class="week">水</span>
<span class="content">キャンプ</span>
<div>
<span>休日</span><br>
<span class="team">GAMEセレクション(1)<br>紅白戦(2025.2.9第2クール最終日)</span><br>
<span class="video">[録]</span>19:00～22:30<br>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">20</span>
<span class="week">木</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第4クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 関本<br />[実況] 高野／福井</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">21</span>
<span class="week">金</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第4クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 関本<br />[実況] 北條／山下</span>
</div>
</td>
</tr>
<tr>
<td class="live-match">
<span class="date">22</span>
<span class="week sat">土</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第5クール</span><br>
<span class="team">ファーム練習試合<br>阪神-ハンファ</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～23:00<br>
<span class="guest">[解説] 秋山<br />[実況] 山下／北條</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">23</span>
<span class="week sun">日</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第5クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～14:30<br>
<span class="video">[録]</span>19:00～23:00<br>
<span class="guest">[解説] 秋山<br />[実況] 北條／中邨</span>
</div>
</td>
</tr>
<tr>
<td class="live-match">
<span class="date">24</span>
<span class="week sun">月</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第5クール</span><br>
<span class="team">練習試合<br>阪神-DeNA（宜野座）</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～23:00<br>
<span class="guest">[解説] 下柳<br />[実況] 中邨／山下</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">25</span>
<span class="week">火</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">ファーム打ち上げ</span><br>
<span class="team">GAMEセレクション(2)<br>練習試合 阪神‐楽天(2025.2.15)</span><br>
<span class="video">[録]</span>19:00～23:00<br>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">26</span>
<span class="week">水</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第6クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 今成<br>[実況] 中邨／佐藤</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">27</span>
<span class="week">木</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第6クール</span><br>
<span class="live">[生]</span>10:00～12:00、12:00～16:00<br>
<span class="video">[録]</span>19:00～22:30<br>
<span class="guest">[解説] 濱中<br>[実況] 佐藤／福井</span>
</div>
</td>
</tr>
<tr>
<td>
<span class="date">28</span>
<span class="week">金</span>
<span class="content">キャンプ</span>
<div>
<span class="team cool">第6クール<br>キャンプ打ち上げ</span><br>
<span class="live">[生]</span>9:00～13:30<br>
<span class="video">[録]</span>19:00～23:00<br>
<span class="guest">[解説] 濱中<br>[実況] 佐藤</span>
</div>
</td>
</tr>
</tbody>
</table>

<p class="c-table-usage"><span class="c-table-usage__live">[生]</span>生中継 <span class="c-table-usage__video">[録]</span>録画中継<br>
※上記放送スケジュールは2月1日現在の内容となります。</p>
</div><!-- /.schedule-->
</div><!-- /.c-pageMain__schedule__wrap -->
</div><!-- /.c-pageMain__schedule -->

<%- include('../_includes/contents/content-common', {device: "sp"}) %>

<div class="content-bottom">
<div class="c-sptv">
<a class="c-sptv-link" href="https://promo.skyperfectv.co.jp/guide/?skya=howto" onclick="ga('send', 'event', 'click', 'camp-report2026_sp');" target="_blank">
<span class="m-sptvLink__title">スカイA見るならスカパー！</span>
<img alt="CS250ch　加入料0円、月額1,529円（税込）、録画OK　お申込み／お問合せはスカイＡ カスタマーセンター　0570-066-250 年中無休（10:00～20:00）　スカイＡはスカパー！、ケーブルテレビ、ひかりTVでご視聴いただけます。　お申込みはこちら"
src="/img/sp/special/camp-report2026/sptv2.png" />
</a>
</div>
</div>
</div>
